<section class="row">
  <div class="col-sm-12">
    <h2 class="title">
      Zacznijmy od podstawowej definicji:
    </h2>
  </div>
  <div class="col-sm-12">
    Sztuczna sieć neuronowa to zbiór prostych jednostek obliczeniowych
    przetwarzających dane, komunikujących się ze sobą i
    pracujących równolegle.
  </div>
  <div class="col-sm-12">X
    Jest to ogólna nazwa struktur matematycznych realizujących obliczenia lub przetwarzanie sygnałów.
  </div>
</section>
<section class="row">
  <h2 class="title">Dlaczego i po co?</h2>
  <div class="col-sm-12">
    Podstawową cechą różniącą SSN od programów realizujących algorytmiczne przetwarzanie informacji jest zdolność
    generalizacji czyli uogólniania wiedzy dla nowych danych nieznanych wcześniej, czyli nie prezentowanych w trakcie
    nauki. Określa się to także jako zdolność SSN do aproksymacji wartości funkcji wielu zmiennych w przeciwieństwie do
    interpolacji możliwej do otrzymania przy przetwarzaniu algorytmicznym.
  </div>
  <div class="col-sm-12">
    Przykładowe zastoosowania sieci neuronowych:
  </div>

  <div class="col-sm-12">
    <ul class="applications" *ngFor="let application of networksApplication">
      <li>{{application}}</li>
    </ul>
  </div>
</section>
<section class="row">
  <h2 class="title">
    Neuron - czyli jak sieci "myślą"
  </h2>
  <div class="col-sm-12">
    Neuron: czyli jednostka obliczeniowa która będziemy się posługiwali składa się z :
  </div>
  <div class="col-sm-12">
    <img src="https://appliedgo.net/media/perceptron/neuron.png" alt="neuron schemat">
  </div>
</section>
<section>
  <h3 class="subtitle">A teraz pora na trochę praktyki:</h3>
  <div class="col-sm-12">
    W następnym opdpunkcie przejdziemy do stworzenia naszej pierwszej sieci neuronowej.
  </div>
</section>
