<!doctype html>
<html lang="en">

<head>
  <title>Sieci dla nas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>

<div class="container">
  
  <div class="jumbotron">
    <h1 class="display-3">{{baner}}</h1>
    <p class="lead">Portal powstał jako źródło wiedzy i prezentacji sieci neuronowych.</p>
    <hr class="my-4">
    <carousel>
      <slide>
        <img src="{{images[0]}}" alt="First slide" style="display: block; width: 100%; max-height: 600px">
      </slide>
      <slide>
        <img src="{{images[1]}}" alt="Second slide" style="display: block; width: 100%; max-height: 600px">
      </slide>
      <slide>
        <img src="{{images[2]}}" alt="Third slide" style="display: block; width: 100%; max-height: 600px">
      </slide>
    </carousel>
    
    <!--<p>{{ serverCreationStatus }}</p>-->
    <!--<p>Time now is: {{time}}</p>-->
    <!--<p [innerText]="time"></p>-->
    <!--<hr>-->
    <!---->
    <!---->
    <!--<input-->
      <!--type="text"-->
      <!--class="form-control"-->
      <!--[(ngModel)]="serverName">-->
    <!--<p>{{serverName}}</p>-->
    <!--<p *ngIf=""></p>-->
    <!---->
    <!--<hr>-->
    
  </div>
  
  <!--<div class="row" *ngFor="let net of networks">-->
    <!--<div class="col-sm-2">{{ net.pk}}</div>-->
    <!--<div class="col-sm-6">{{ net.name}}</div>-->
    <!--<div class="col-sm-4">-->
      <!--<button class="btn btn-danger" (click)="deleteNetwork(net.pk)">delete</button>-->
    <!--</div>-->
  <!--</div>-->
  <!---->
  <!--<hr>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">Add Network</div>-->
    <!--<label for="name">Name</label>-->
    <!--<input id="name" type="text" class="form-control" #name>-->
    <!--<button class="btn" (click)="addNetwork(name)">Add</button>-->
  <!--</div>-->
  
</div>
</body>
</html>

