<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Opis szczegółowy</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Zarządzaj siecią</button>
        <ul class="dropdown-menu" role="menu">
        <li><a href="#">Add to networks list</a></li>
        <li><a href="#">Edit network</a></li>
        <li><a href="#">Delete Network</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="cols-xs-12">
    <h4>Opis szczegółowy</h4>
  </div>
</div>
